* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
}

.card {
    background-color: white;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 30px 40px hsla(245, 75%, 52%, 0.2);
}

.hero-image {
    width: 330px;
    border-radius: 20px 20px 0 0;
}

h1 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    text-align: center;
    margin: 2rem 3rem 1rem;
}

p {
    text-align: center;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    margin: 0 2rem 1.5rem;
    line-height: 1.5;
}

.plan-section {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    margin: 0 1.5rem 1.5rem;
    border-radius: 15px;
}

.icon {
    margin: 1rem;
}

.plan-group {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem 1rem 0.5rem;
}

.plan-bold {
    color: hsl(223, 47%, 23%);
    font-size: 14px;
    font-weight: 900;
}

.price {
    color: hsl(224, 23%, 55%);
    font-size: 14px;
    margin-top: 0.25rem;
}
.plan-section a {
    margin-right: 1rem;
    font-weight: 700;
    font-size: 13px;
}

.plan-section a:any-link {
    color: hsl(245, 75%, 52%);
}

.plan-section a:hover {
    color: hsl(245, 65%, 66%);
    text-decoration: none;
}

.payment-btn, .cancel-btn {
    font-size: 16px;
    border: none;
    margin-bottom: 2rem;
    font-family: inherit;
    text-decoration: none;
}

.payment-btn {
    background-color: hsl(245, 75%, 52%);
    font-weight: 700;
    color: white;
    padding: 1rem 4rem;
    border-radius: 10px;
    box-shadow: 0 20px 15px hsla(245, 75%, 52%, 0.2);
}

.payment-btn:hover {
    background-color: hsl(245, 65%, 66%);
}

.cancel-btn {
    font-weight: 900;
    color: hsl(224, 23%, 55%);;
    background-color: transparent;
}

.cancel-btn:hover {
    color: hsl(223, 47%, 23%);
}

.attribution {
    font-size: 14px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

@media screen and (min-width: 800px) {
    body {
        background-image: url(images/pattern-background-desktop.svg);
        background-position: 0 0;
    }

    .card {
        width: 425px;
    }

    .hero-image {
        width: 425px;
    }

    h1 {
        margin-top: 2.5rem;
        font-size: 1.65rem;
    }

    p {
        margin: 0 3rem 1rem;
    }

    .icon {
        margin: 1.5rem 0.75rem 1.5rem 1.5rem;
    }

    .plan-section a {
        margin-left: 2.5rem;
        margin-right: 1rem;
        font-size: 14px;
        letter-spacing: -0.5px;
    }

    .plan-bold, .price {
        font-size: 1rem;
    }

    .payment-btn {
        padding: 1rem 6rem;
        font-size: .85rem;
    }

    .cancel-btn {
        font-size: .85rem;
    }
}